// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';


header nav a,header nav span{
    font-size:16px !important;
}

.main__preview{
    text-align:center;
    top:40%;
    @media(min-width:767px){
        img.mainImg{
            max-width:60%;
        }
    }

    .main__ball:nth-child(1) {
        top: 14%;
        left: 17%;
        width: 4.1%;
    }
    
    .main__ball:nth-child(2) {
        left: 37%;
        bottom: -7.6%;
        width: 2.6%;
    }
    
    .main__ball:nth-child(3) {
        top: -7.5%;
        right: 21.3%;
        width: 6.5%;
    }
    
    .main__ball:nth-child(4) {
        right: 17.3%;
        bottom: 22%;
        width: 4.3%;
    }

}
    




.main__button{
    text-decoration:none;

    &:hover{
        color:#FCFDFE;
    }
}

.generation__item{
    .generation__preview{
        border-radius:50px;

        &::before {
            content: "";
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%; 
            height: 100%;  
            z-index: 0;
            background-color: rgba(255,255,255,0.5);
        }

        .generation__image{
            margin-top:5px;
            margin-bottom:0px;
            transition:ease .5s margin-bottom
        }
    }

    .generation__subtitle,.generation__content{
        padding-left:2rem;
    }
}

.generation__preview:hover{
    cursor:pointer;
    }
    
    .generation__preview:hover .generation__image {
    margin-bottom:50px !important;
    transition:ease .5s margin-bottom
    }


/*table*/@at-root

.table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-striped>tbody>tr{ 
    
    &:first-child td{
        border-top:1px solid #eeeeee !important;
    }

    &>td {
        border-bottom:1px solid #eeeeee !important;

        &:first-child{
            padding-left:3em !important;
        }
        &:last-child{
            padding-right:3em !important;
        }
    }

}

.table,.table tr, .table tr td{
border:0px !important;
}

.details__row{
    max-height:441px;
    overflow-y:scroll;
    align-items:start !important;
    }
    
.details__row .table{
    margin-bottom:0px;
}

.table tr td:last-child{
    text-align:right;
}

.nbApp{
    
    max-width:80px;
    margin-right:0px;
    width:auto;
    display: inline-block !important;
}
    
    

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tabs{
border-radius:50px;
-webkit-box-shadow: 0px 0px 15px 5px rgba(112,112,112,0.2); 
box-shadow: 0px 0px 15px 5px rgba(112,112,112,0.2);
padding-top:50px;
padding-bottom:50px;
margin-top:100px;
}

.details__title.h2{
    text-align:center;
}

/***/

.disabled{
    cursor:not-allowed;
    }
    
    .disabled:hover{
    background:#eeeeee !important;
    color:black;
    border-color:#eeeeee;
    }
    
    .pricing__plan{
    background:#fafbfc
    }
    
    .pricing__plan.disabled span,.pricing__plan.disabled div{
    color:#a0a0a0;
    }

    .pricing__plan .pricing__details{
        display:none;
        }
        
        .changed_once .pricing__plan_premium .pricing__details{
        display:block !important;
        }


@media(max-width:767px){
    .js-tabs-select option{
        font-weight:bolder;
        }
        
        .js-tabs-select {
        padding-right:14px !important;
        width:80%;
        margin-left:10%;
        }
        
}


.generation__item.main_item{
    background:white;
    margin:32px 32px 0;
    width:calc(33.333% - 64px);
    flex: 0 0 calc(33.333% - 64px);
    padding:20px;
    border-radius:20px;
    display:flex;
    align-items:center;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(107,107,107,0.5); 
    box-shadow: 0px 5px 7px 0px rgba(107,107,107,0.5);
    }
    
    .generation__item.main_item div{
    padding:5px 5px 5px 10px;
    }
    
    .generation__item.main_item div.main_icon{
    padding:5px 10px 5px 2px;
    }
    
    .generation__item.main_item div.main_text{
    flex:2 1 auto;
    font-weight:500;
    padding:5px 0px 5px 12px;
    }

    @media only screen and (max-width: 767px){
        .generation__item.main_item {
            width: 100%;
            margin: 32px 0 0;
        }
    }